@import url(./reset.css);

@import url(./fonts.css);

* {
  margin: auto;
  background-color: #a0bcc2;
}

h1 {
  margin: 50px;
  text-align: center;
}

.content {
  margin: 20px 50px;
}
.content__add--task {
  margin: 20px 0;
  margin-left: 70px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  background-color: #dae5d0;
}
.content__list--task {
  justify-content: center;
  width: 861px;
  height: 572px;
  background-color: #dae5d0;
}
